<div class="d-flex justify-content-center mt-4" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>
<p>pagination: {{pagination.totalItems}}, {{pagination.currentPage}}, {{pagination.itemsPerPage}}, {{pagination.totalPages}}</p>