<div class="bs-component mt-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Created</th>
        <th scope="col">Title</th>
        <th scope="col">Company</th>
        <th scope="col">Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs$ | async"> 
        <td (click)="jobDetails(job.id)">{{job.created | date:'dd MMM yyyy'}}</td>
        <td (click)="jobDetails(job.id)">{{job.title}}</td>
        <td (click)="jobDetails(job.id)">{{job.company}}</td>
        <td (click)="jobDetails(job.id)">
          <div *ngIf="job.isActive"><i class="fa fa-check"></i></div>
          <div *ngIf="!job.isActive"><!--Emtpy Cell--></div>
        </td>
        <td>          
          <div class="btn-group" dropdown>
            <i dropdownToggle class="fa fa-ellipsis-h"></i>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" routerLink='/job/edit/{{job.id}}'>Edit Job</a></li>
              <li role="menuitem"><a class="dropdown-item" target="_blank" href='{{job.url}}'>Go to job post</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Delete Job</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>