<div class="container">
  <div class="row mb-4">
    <div class="col-3" *ngFor="let stat of statsList">
        <div class="card">
          <div [ngClass]="{
            'stat-applied': stat.type=='applied',
            'stat-active': stat.type=='active',
            'stat-rejected': stat.type=='rejected',
            'stat-expired': stat.type=='expired'
          }" class="p-3">
            <h2>{{stat.value}}</h2>
            {{stat.display}}
          </div>
        </div>
    </div>
  </div>
  <div class="row dflex justify-content-center">
    <div class="col-12">
      <app-job-list></app-job-list>
    </div>
  </div>
</div>