<div class="card mb-4">
  <div class="card-image-wrapper">

  </div>
  <div class="card-body p-1">
    <span class="ml-2"><strong>Job Title:</strong></span>
    <h6 class="card-title ml-3 mb-1"><i class="fa fa-user mr-2"></i>
      {{job.title}}
    </h6>
    <span class="ml-2"><strong>Company:</strong></span>
    <p class="card-text text-muted ml-3">{{job.company}}</p>
    <span class="ml-2"><strong>Tracking since:</strong></span>
    <p class="card-text text-muted ml-3">{{job.created | date:'dd MMM yyyy'}}</p>

  </div>
</div>
