.stat-applied {
  background-color:#436d9a;
  color: whitesmoke;
}

.stat-responded {
  background-color: #9a6443;
  color: whitesmoke;
}

.stat-active {
  background-color: #9a9043;
  color: whitesmoke;
}

.stat-rejected {
  background-color: #86439a;
  color: whitesmoke;
}