<div class="row" *ngIf="job">
  <div class="col-10">
    <div class="card border-primary mb-3">
      <div class="card-header">
        <h2>{{job.title}}</h2>
      </div>
      <div class="card-body">
        <strong>On list since:</strong>
        <p> {{job.created | date:'dd MMM yyyy'}}</p>
        <strong>Company:</strong>
        <p> {{job.company}}</p>
        <strong>Description:</strong>
        <p> {{job.description}}</p>
        <strong>Notes:</strong><br>
        <div *ngFor="let note of notes">
          <p class="ml-2"><span class="mr-2">{{note.created | date:'dd MMM yyyy'}} -</span>{{note.content}}</p>
        </div>
      </div>
      <div class="card-footer">
        <a class="button btn btn-primary mr-3" target="_blank" href={{job.url}}>Go To Job Posting</a>
        <button routerLink='/jobs' class="btn btn-secondary">Back to Jobs</button>
      </div>
    </div>
  </div>
</div>
