<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #noteForm="ngForm" id="noteForm">
    <label for="noteField" class="mr-2"><strong>New Note:</strong></label>
    <textarea rows="3" class="form-control mr-5" id="noteField" [(ngModel)]="newNote" name="newNote"></textarea>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="saveNewNote()">Save</button>
</div>
